<form action="/query" method="POST" class="form-signin">
  <h2 class="form-signin-heading">回顾我的2012</h2>

    <input name="user_name" type="text" class="input-block-level input-medium" placeholder="其实谁的名字都可以哦 ^_^">
    <button class="btn btn-large btn-primary pull-right" type="submit">看一看</button>

 

</form>